* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(74, 130, 182);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
